<!----------------------------------------------------------
  Page title, links to stylesheets, favicon, scripts, etc.
----------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DOIT | <%= title%> </title>

  <!--Add links to stylesheets, JS scripts, etc here-->
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg"> 

  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='/stylesheets/landingLogin.css' />
  <link rel='stylesheet' href='/stylesheets/navigation.css' />
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
  <link rel='stylesheet' href='/stylesheets/userAccount.css' />
  <link rel='stylesheet' href='/stylesheets/task.css' />
  <link rel="stylesheet" href="/stylesheets/leaderboard.css" />
  <link rel="stylesheet" href="/stylesheets/about.css" />

  <!--Fonts and icons-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script defer src="/scripts/signup.js"></script>
  <script src="/scripts/themeSwitcher.js"></script>
</head> 